<h1>Awesome Movies</h1>

<% @movies.each do |movie|  %>
  <p><%= movie.title %>, <%= movie.director %>, <%= movie.release %></p>
  <img src="<%= movie.url %>">
<% end %>

<%= link_to "New!", new_movie_path %>
